
:host ::ng-deep .p-inputtext,
:host ::ng-deep .p-password-input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  background: #f7f5f5;
}
:host ::ng-deep .p-inputtext:focus,
:host ::ng-deep .p-password-input:focus {
  border-color: #4f46e5;
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2);
  outline: none;
}

:host ::ng-deep .p-password {
  width: 100%;
}